.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* shared styles */
.display-flex {
    display: flex;
}

.text-dark02 {
    color: #424242;
}

.text-dark03 {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);

}

.le-card-title {
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary {
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
}

.btn-primary:hover {
    cursor: pointer;
}

.shared-title {
    font-size: 2.5rem;
    font-weight: 700;
}


/* header style */
/* navbar related style */
nav {
    justify-content: space-between;
    align-items: center;
}

nav ul {
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
}

nav,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    font-weight: bold;
    font-size: 3rem;
}




/* banner style */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.brand-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-description {
    margin-bottom: 32px;
}

.banner img {
    width: 100%;
}

/* Feature and Images */
.feature-and-images {
    margin-top: 85px;
    margin-bottom: 130px;
    display: flex;
    gap: 73px;
    justify-content: center;
    align-items: center;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-images img {
    height: 342px;
    width: 342px;
    border-radius: 8px;
}

.feature-description {
    max-width: 537px;
}

.feature-description h3 {
    font-size: 2.5rem;
}

.extra {
    font-weight: 500;
}

.feature-description p {
    margin-top: 24px;
    margin-bottom: 32px;
}

.primary-color {
    color: #FF900E;
}

/* love and enjoy */
.love-enjoy {
    gap: 54px;
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.shared-title {
    margin-bottom: 24px;
}

.love-enjoy-card {
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 30px;
    max-width: 586px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
}

.btn3>* {
    margin: 0;
}

.love-enjoy-btn-image {
    position: relative;
}

.btn3 {
    padding: 46px 42px;
    position: absolute;
    bottom: 0px;
}

.love-enjoy-btn-image img {
    margin: 0 0 50px 50px;
    border-radius: 8px;
}

/* Some facts */
.some-facts {
    max-width: 1440px;
    margin: 0 auto;
}

.some-facts-cards {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 180px;
}

.fact-card {
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-card .card-title {
    margin: 0;
}

.fact-card .card-name {
    margin-top: 5px;
}

/* Sponsors section */
.sponsors {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.sponsors-logo {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
}



/* responsive media query */
@media screen and (max-width: 576px) {

    header nav,
    nav ul {
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .brand-title {
        font-size: 3rem;
        padding: 20px;
    }

    .feature-and-images {
        margin-top: 20px;
        /* margin-bottom: 130px; */
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }

    .feature-images img {
        height: 175px;
        width: 175px;
        border-radius: 8px;
    }

    .feature-description {
        max-width: 100%;
        text-align: center;
    }

    .love-enjoy {
        flex-direction: column;
        width: 100%;
    }

    .love-enjoy-btn-image img {
        width: 80%;
    }

    .love-enjoy-btn-image .btn3 {
        position: static;
    }

    .some-facts-cards {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 15%;
        margin-bottom: 50px;
    }

    .sponsors-logo {
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
        width: 166px;
        margin: 0 auto;
        gap: 30px;
    }
}